*{
    margin: 0;
    padding: 0;
}
.card{
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    border: 5px solid rgba(0, 0, 0, 0.139);
}
.container{
    display: flex;
    margin: 20px auto;
}